/* font-family: 'Tinos', serif;
font-family: 'Yantramanav', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Tinos&family=Yantramanav&display=swap");

/* Header Style ___________________________ */
* {
  margin: 0;
  padding: 0;
}
#classic {
  background: url(./assets/img/bar1.png) center / cover no-repeat;
  height: 100vh;
  color: #ffffff;
  font-family: "Yantramanav", sans-serif;
}
#head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 80px;
}
#head h2 {
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 7rem;
}
#head h1 {
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 12rem;
}
/* Navigation Style ___________________________ */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#navi {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #312929;

  height: 7vh;
  color: gray;
  font-size: 1.5rem;
}
#navi a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
#navi a:hover {
  color: #bb7043;
}

#navi li {
  list-style: none;
}

/* Section1 Style __________________ */
#About {
  background-color: #212121;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  font-family: "Tinos", serif;
}
#about_text {
  color: #ffffff;
  margin-left: 7%;
  width: 30%;
}
#about_text p {
  font-size: 1.5rem;
  margin-bottom: 3%;
  margin-top: 3%;
  width: 60%;
}
#about_text h1 {
  font-size: 3rem;
}
#about_text button {
  padding: 3% 5%;
  background-color: #bb7043;
  border-radius: 10px;
}

/* Section2 Style __________________ */
#covid {
  background-color: #bb7043;
  height: 100vh;
  width: 100%;
}
#dataSection {
  width: 30%;
  margin-bottom: 10vh;
}
#dataSection h1 {
  font-family: "Yantramanav", sans-serif;
  font-size: 3rem;
  width: 50%;
  text-align: center;
}
#dataSection h2 {
  font-family: "Yantramanav", sans-serif;
  text-transform: uppercase;
  color: #ffff;
  font-size: 25px;
}
#dataSection #clock {
  font-family: "Yantramanav", sans-serif;
  text-transform: uppercase;
  color: #ffff;
  font-size: 20px;
}
#feature {
  color: #212121;
  font-family: "Tinos", serif;
  font-weight: 500;
  font-size: 20px;
  width: 60%;
  margin-top: 2%;
}
#Datatype {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.text {
  font-size: 25px;
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;
  text-transform: uppercase;
  font-family: "Tinos", serif;
}

/* Section3 Style __________________ */

#hand {
  background: url(./assets/img/hand.png) right / 60% no-repeat;
  background-color: #212121;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}
#hand_text {
  margin-left: 15%;
}
#hand_text p:nth-of-type(1) {
  text-transform: uppercase;
  font-family: "Yantramanav", sans-serif;
  font-size: 25px;
  margin-bottom: 3%;
}
#hand_text h1:nth-of-type(1) {
  text-transform: uppercase;
  font-family: "Yantramanav", sans-serif;
  font-size: 6rem;
  width: 50%;
  line-height: 90px;
  margin-bottom: 2%;
}
#hand_text p:nth-of-type(2) {
  width: 30%;
  font-size: 30px;
  margin-bottom: 2%;
  font-family: "Tinos", serif;
}
#hand_text button {
  padding: 1% 3%;
  background-color: #bb7043;
  border-radius: 10px;
}

/* Section4 Style __________________ */

#drink {
  background-color: #212121;
  height: 105vh;
  color: #ffffff;
  display: flex;
  width: 100%;
}
#fronts {
  width: 100%;
  border: 0.5px solid #7f7f7f;
}
#drink img {
  margin-left: 90%;
  margin-top: 6%;
}

#fronts_img {
  height: 60vh;
  margin-bottom: 2%;
}

#fronts h4 {
  text-align: center;
  font-size: 2.5rem;
  width: 67%;
  margin-left: 16.5%;
}

#fronts p {
  text-align: center;
  margin-top: 4%;
  text-transform: uppercase;
  font-size: 20px;
}

/* Section5 Style __________________ */
#find {
  background-color: #212121;
  height: 40vh;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  border: 0.5px solid #7f7f7f;
}

#find_img {
  margin-top: 6%;
  margin-left: 10%;
}
#contact {
  margin-top: 6%;
  width: 50%;
  margin-left: 25%;
  line-height: 25px;
}
table {
  width: 70%;
}
table tr:nth-of-type(1) {
  height: 5vh;
  color: #bb7043;
}

/* Footer Style __________________ */
#foot {
  background-color: #212121;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#foot_img {
  background: url(./assets/img/Group1.png) center/ 40% no-repeat;
  height: 40vh;
  width: 60%;
  margin-left: 20%;
}
#icon {
  width: 20%;
}
#icon {
  width: 20%;
}
#icon img {
  margin-left: 4%;
}

/*  CONTACT Style ___________________________ */

#contactHeader {
  background-color: #bb7043;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_text {
  width: 50%;
  color: #212121;
  margin-left: 10%;
}
#header_text p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  width: 60%;
  margin-bottom: 2%;
}
#header_text h1 {
  font-size: 6rem;
  color: #ffffff;
  font-family: "Yantramanav", sans-serif;
  line-height: 90px;
  width: 70%;
}
#contact_bilder {
  width: 70%;
  background: url(./assets/img/bar3.png) center/ cover no-repeat;
  height: 100vh;
}
#map {
  background: url(./assets/img/map.png) center / cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#map h1 {
  background-color: #c4c4c4;
  font-size: 6rem;
  letter-spacing: 5px;
  width: 55%;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 1%;
}
#userInfo {
  background-color: #bb7043;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#userData {
  width: 40%;
}
#userData p {
  font-size: 24px;
  font-family: "Tinos", serif;
  margin-bottom: 3%;
}
#userData h1 {
  color: #ffffff;
  font-size: 4rem;
  line-height: 60px;
  font-family: "Yantramanav", sans-serif;
}

#usertable p {
  font-family: "Tinos", serif;
  margin-top: 10%;
}
#usertable table {
  color: #ffffff;
}

#userForm {
  height: 60vh;
  width: 40%;
}

#userForm form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10%;
}
#userForm input {
  height: 4vh;
  padding-left: 3%;
  border: none;
  margin-bottom: 3%;
  font-family: "Yantramanav", sans-serif;
  font-size: 20px;
}
#userForm textarea {
  padding-left: 3%;
  border: none;
  margin-bottom: 3%;
  font-family: "Yantramanav", sans-serif;
  font-size: 20px;
}
#userForm button {
  width: 30%;
  background-color: #212121;
  color: #ffffff;
  padding: 3%;
  font-size: 24px;
  font-family: "Tinos", serif;
}

/* SHOP CSS______________________ */
#comming {
  background-color: #bb7043;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#comming h1 {
  font-size: 20rem;
  color: red;
}
#comming h2 {
  font-size: 6rem;
}
#comming h3 {
  font-size: 6rem;
  margin-top: 2%;
  color: #ffffff;
}
#obenShop {
  background: url(./assets/img/open.png) center / cover no-repeat;
  height: 100vh;
}
