/* font-family: 'Tinos', serif;
font-family: 'Yantramanav', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Tinos&family=Yantramanav:wght@900&display=swap");

/* Header Style ___________________________ */
* {
  margin: 0;
  padding: 0;
}
#classic {
  background: url(./assets/img/bar1.png) center / cover no-repeat;
  height: 100vh;
  color: #ffffff;
  font-family: "Yantramanav", sans-serif;
}
#head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  line-height: 80px;
  margin-top: 4%;
}
#head h2 {
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 7rem;
}
#head h1 {
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 12rem;
}
/* Navigation Style ___________________________ */

/* nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#navi {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  background-color: black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 7vh;
}
#navi a {
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
}
#navi li {
  list-style: none;
} */

/* Section1 Style __________________ */
#About {
  background-color: #212121;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  font-family: "Tinos", serif;
}
#about_text {
  color: #ffffff;
  margin-left: 7%;
  width: 30%;
}
#about_text p {
  font-size: 1.5rem;
  margin-bottom: 3%;
  margin-top: 3%;
  width: 60%;
}
#about_text h1 {
  font-size: 3rem;
}
#about_text button {
  padding: 3% 5%;
  background-color: #bb7043;
  border-radius: 10px;
}

/* Section2 Style __________________ */
#covid {
  background-color: #bb7043;
  height: 100vh;
}
.text {
  font-size: 25px;
  width: 80%;
  margin-left: 10%;
  padding-top: 7%;
  text-transform: uppercase;
  font-family: "Tinos", serif;
}
#flex {
  width: 90%;
  display: flex;
  margin-left: 5%;
  margin-top: 10%;
}
#jive {
  background: url(./assets/img/Rectangle.png) left/cover no-repeat;
  height: 35vh;
  color: #ffffff;
  font-family: "Yantramanav", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 6%;
}
#afte {
  background: url(./assets/img/Rectangle1.png) center / cover no-repeat;
  height: 35vh;
  color: #ffffff;
  font-family: "Yantramanav", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 6%;
}
#dance {
  background: url(./assets/img/Rectangle2.png) right / cover no-repeat;
  height: 35vh;
  color: #ffffff;
  font-family: "Yantramanav", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 6%;
}
#flex h4 {
  color: #ffffff;
  font-family: "Yantramanav", sans-serif;
  font-size: 1.5rem;
}
#flex p {
  width: 60%;
  font-size: 16px;
  font-family: "Tinos", serif;
}
#flex p:nth-of-type(1) {
  margin-top: 4%;
}

/* Section3 Style __________________ */

#hand {
  background: url(./assets/img/hand.png) right / 60% no-repeat;
  background-color: #212121;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}
#hand_text {
  margin-left: 15%;
}
#hand_text p:nth-of-type(1) {
  text-transform: uppercase;
  font-family: "Yantramanav", sans-serif;
  font-size: 25px;
  margin-bottom: 3%;
}
#hand_text h1:nth-of-type(1) {
  text-transform: uppercase;
  font-family: "Yantramanav", sans-serif;
  font-size: 6rem;
  width: 50%;
  line-height: 90px;
  margin-bottom: 2%;
}
#hand_text p:nth-of-type(2) {
  width: 30%;
  font-size: 30px;
  margin-bottom: 2%;
  font-family: "Tinos", serif;
}
#hand_text button {
  padding: 1% 3%;
  background-color: #bb7043;
  border-radius: 10px;
}

/* Section4 Style __________________ */
#drink {
  background-color: #212121;
  height: 100vh;
  color: #ffffff;
  display: flex;
}
#fronts {
  width: 50%;
  border: 0.5px solid #7f7f7f;
}
#drink img {
  margin-left: 90%;
  margin-top: 6%;
}
#jack {
  width: 50%;

  border: 0.5px solid #7f7f7f;
}
#fronts_img {
  background: url(./assets/img/gin\ 1.png) center 60% no-repeat;
  height: 60vh;
  /* margin-top: 10%; */
  margin-bottom: 2%;
}
#jack_img {
  background: url(./assets/img/jack\ 1.png) center 60% no-repeat;
  height: 60vh;
  /* margin-top: 10%; */
  margin-bottom: 2%;
}
#fronts h4 {
  text-align: center;
  font-size: 2.5rem;
  width: 67%;
  margin-left: 16.5%;
}
#jack h4 {
  text-align: center;
  font-size: 2.5rem;
  width: 68%;
  margin-left: 16%;
}
#fronts p {
  text-align: center;
  margin-top: 4%;
  text-transform: uppercase;
  font-size: 20px;
}
#jack p {
  text-align: center;
  margin-top: 4%;
  text-transform: uppercase;
  font-size: 20px;
}

/* Section5 Style __________________ */
#find {
  background-color: #212121;
  height: 40vh;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  border: 0.5px solid #7f7f7f;
}

#find_img {
  margin-top: 6%;
  margin-left: 10%;
}
#contact {
  margin-top: 6%;
  width: 50%;
  margin-left: 25%;
  line-height: 25px;
}
table {
  width: 70%;
}
table tr:nth-of-type(1) {
  height: 5vh;
  color: #bb7043;
}

/* Footer Style __________________ */
#foot {
  background-color: #212121;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#foot_img {
  background: url(./assets/img/Group1.png) center/ 40% no-repeat;
  height: 40vh;
  width: 60%;
  margin-left: 20%;
}
#icon {
  width: 20%;
}
#icon {
  width: 20%;
}
#icon img {
  margin-left: 4%;
}
